<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>

  <title>Socket.io</title>

</head>

<body>
  <h1>Communication avec socket.io !</h1>

  <div class="panel panel-default">
   <!--  <div class="panel-heading pseudo"></div>
   <div class="panel-body message"></div> -->
 </div>

 <form action="">
  <input id="mess" class="form-group has-warning has-feedback" autocomplete="off" /><button value="Envoyer le message" id="poke" >Send</button>
</form>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();

  window.onbeforeunload = function() {
    return "Dude, are you sure you want to leave? Think of the kittens!";
    }

  if (pseudo == null)
  {
    var pseudo = prompt('Quel est votre pseudo ?');
    socket.emit('petit_nouveau', pseudo);
  }

  var obj = jQuery('body');
  obj.scrollTop = obj.scrollHeight

  jQuery('form').submit(function () {

    var t = jQuery('#mess');

    if (!t.val()) {
      alert("votre emssage est vide");
    } else {
      socket.emit('chat message', $('#mess').val());
      jQuery('#mess').val('');
      return false;
    }
  });
  socket.on('chat message', function(msg, pseudo, date, time){
      //jQuery('#messages').append(jQuery('<li>').text(msg+'<strong>test</strong>'));
      $('.panel-default').append('<div class="panel-heading pseudo">'+pseudo+'  -   '+date+'</div> <div class="panel-body message">'+msg+'</div>');
      //$('.message').append(msg);
    });
  </script>
</body>
</html>				  
